git+https://github.com/rohansaw/planpro-generator.git@main
git+https://github.com/arneboockmeyer/planpro-python-model
git+https://github.com/arneboockmeyer/railway-route-generator
git+https://github.com/DRSS-EULYNX-2022/ORM-PlanPro-Converter@signal_names
